@font-face
{
    font-family: fancyFont;
    src: url(../lib/fonts/regular.otf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: fancyFont;
}

.viewport-container {
    background-color: #c0392b;
    width: 100%;
    margin: 0;
}

.menu {
    height: 80px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    font-size: 2em;
    position: fixed;
    display: block;
    color: white;
    z-index: 9999;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.menu li {
    line-height: 80px;
    height: 80px;
    list-style: none;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    text-align: center;
}

.menu-wrapper {
  position: fixed;
  margin: 0 0 0 -12.5em;
  left: 50%;
}

.slide-1 {
    position: relative;
    color: white;
    text-align: center;
}

.name-container {
/*    vertical-align: bottom;*/
    position: absolute;
/*    vertical-align: middle;
    text-align: center;*/
    height: 15em;
    width: 100%;
    margin: -7.5em 0 0 -50%;
    left: 50%;
    top: 40%;
}

.name-container h1 {
/*    vertical-align: bottom;*/
    font-size: 10em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-bottom: 0;
}

.name-container h2 {
/*    vertical-align: bottom;*/
    margin: 1em 0 0 0;
}

.scroll-container {
  width: 40px;
  height: 55px;
  position: absolute;
  margin: -27.5px 0 0 -20px;
  left: 50%;
  bottom: 5px;
}

.triangle {
    width: 0;
    height: 0;
    bottom: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

/*.rectangle:first-of-type {
    margin-top: 150px;
}*/

.rectangle {
    background-color: white;
    bottom: 50;
    width: 20px;
    height: 7px;
    margin: 0 0 5px 10px;
}