@font-face
{
    font-family: fancyFont;
    src: url(../lib/fonts/regular.otf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: fancyFont;
}

h4 {
    margin: 0;
    padding: 0;
}

.viewport-container {
    width: 100%;
    margin: 0;
    background-color: white;
}

.menu {
    height: 80px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    font-size: 2em;
    position: fixed;
    display: block;
    color: white;
    z-index: 9999;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.menu li {
    line-height: 80px;
    height: 80px;
    list-style: none;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    text-align: center;
}

.menu-wrapper {
    position: fixed;
    margin: 0 0 0 -12.5em;
    left: 50%;
}

.slide-1 {
    background-color: #7F8C8D;
    position: relative;
    color: white;
    text-align: center;
}

.name-container {
    position: absolute;
    height: 15em;
    width: 100%;
    margin: -7.5em 0 0 -50%;
    left: 50%;
    top: 40%;
}

.name-container h1 {
    font-size: 10em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-bottom: 0;
}

.name-container h2 {
    margin: 1em 0 0 0;
}

.scroll-container {
    width: 40px;
    height: 55px;
    position: absolute;
    margin: -27.5px 0 0 -20px;
    left: 50%;
    bottom: 5px;
}

.triangle {
    width: 0;
    height: 0;
    bottom: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.rectangle {
    background-color: white;
    bottom: 50;
    width: 20px;
    height: 7px;
    margin: 0 0 5px 10px;
}

.slide-2 {
    position: relative;
    background-color: white;
    height: 800px;
}

.intro-container {
    position: absolute;
    color: #303030;
    top: 100px;
    bottom: 100px;
    left: 10%;
    right: 10%;
}

.intro-container > * {
    float: left;
}

.detail-container {
    margin-left: 5%;
    width: 90%;
    height: 100%;
}

.detail-container > * {
    height: 180px;
    width: 100%;
    margin-top: 20px;
}

.detail-container > * > *{
    float: left;
}

.my-info-title {
    border-bottom: 5px solid #303030;
    font-size: 8em;
    height: 150px;
    width: 40%;
    text-align: center;
}

.my-info-content {
    font-family: 'Lato', sans-serif;
    width: 55%;
    height: 155px;
    border-left: 5px solid #303030;
}

.info-header {
    height: 46.5px;
    line-height: 46.5px;
    vertical-align: middle;
    text-align: center;
    background-color: #303030;
    color: white;
    font-size: 2em;
}

.info-para {
    margin: 15px 5% 0 5%;
    height: 93.5px;
    font-size: 1em;
}

.slide-3 {
    background-color: white;
}

.image-container {
    border-top: 5px solid #303030;
    border-bottom: 5px solid #303030;
    width: 100%;
}

.experience-banner {
    position: relative;
    background-image: url("/img/Experience.png");
    background-position:center top;
    width: 1000px;
    height: 175px;
    margin-left: -500px;
    left:50%;
    max-width:100%;
    max-height:100%;
}

.all-experience-container {
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    width: 100%;
    height: 800px;
}

.experience-container {
    width: 800px;
    height: 225px;
    position: relative;
}

.experience-container > * {
    float: left;
}

.experience-icon {
    height: 100%;
    line-height: 225px;
    width: 30%;
    float: left;
}

.experience-icon > img {
    height: 100%;
    vertical-align: middle;
}

.experience-word {
    margin: 0 5% 0 5%;
    margin-top: 25px;
    width: 60%;
}

.experience-header {
    color: #1F3A93;
}

.hr-width {
    width: 800px;
}

.experience-container-right {
    right: 0;
}

.experience-container-right > *{
    float: right;
}